<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="giveawayPlugin.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <giveawayPlugin.Properties.Settings>
            <setting name="StartNotificationMessage" serializeAs="String">
                <value>I am starting a giveaway. Type {0} to participate.</value>
            </setting>
            <setting name="EnterCommandString" serializeAs="String">
                <value>!enter</value>
            </setting>
            <setting name="NotifyWhenEntering" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EnterNotificationMessage" serializeAs="String">
                <value>{0} entered the giveaway.</value>
            </setting>
            <setting name="NotificationMessage" serializeAs="String">
                <value>Congratulations {0}, you won the giveaway!</value>
            </setting>
        </giveawayPlugin.Properties.Settings>
    </userSettings>
</configuration>